<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{this.tutorial_name}}</title>

		<link rel="stylesheet" href="../dist/reset.css">
		<link rel="stylesheet" href="../dist/reveal.css">
		<link rel="stylesheet" href="../dist/theme/white.css" id="theme">
		<link rel="stylesheet" href="../plugin/highlight/monokai.css" id="highlight-theme">

		<script src="../thebe/lib/index.js"></script>

		<style>
			.jp-OutputArea-output > pre {
				margin: 0;
				width: 100%;
				box-shadow: none;
			}

			.CodeMirror pre.CodeMirror-line,
			.CodeMirror pre.CodeMirror-line-like {
				font-size: 20px;
			}

			.CodeMirror-hints {
				position: absolute;
				z-index: 10;
				overflow: hidden;
				list-style: none;

				margin: 0;
				padding: 2px;

				-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
				-moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
				box-shadow: 2px 3px 5px rgba(0,0,0,.2);
				border-radius: 3px;
				border: 1px solid silver;

				background: white;
				font-size: 40%;
				font-family: monospace;

				max-height: 20em;
				overflow-y: auto;
			}

			.CodeMirror-hint {
			margin: 0;
			padding: 0 4px;
			border-radius: 2px;
			white-space: pre;
			color: black;
			cursor: pointer;
			}

			li.CodeMirror-hint-active {
			background: #08f;
			color: white;
			}

		</style>

	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-markdown="../md/{{this.tutorial_name}}.md" data-separator="\r?\n---\r?\n" data-separator-vertical="\r?\n---vert---\r?\n"></section>
			</div>
		</div>

		<script src="../dist/reveal.js"></script>
		<script src="../plugin/notes/notes.js"></script>
		<script src="../plugin/markdown/markdown.js"></script>
		<script src="../plugin/highlight/highlight.js"></script>
		<script src="../plugin/math/math.js"></script>
		<script>
			function thebe_init() {
				thebelab.bootstrap({
					bootstrap: true,
					requestKernel: true,
					outputSelector: '[data-output]',
					kernelOptions: {
						name: "ocaml-jupyter",
						kernelName: "ocaml-jupyter",
						path: ".",
						serverSettings: {
							"baseUrl": "http://localhost:16789",
							"wsUrl": "ws://localhost:16789"
						}
					},
					selector: "[data-thebe-executable]",
					mathjaxUrl: "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js",
					mathjaxConfig: "TeX-AMS_CHTML-full,Safe",
					codeMirrorConfig: {
						mode: "ocaml",
						theme: "monokai"
					}
				});
			}
			
		</script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealMath ],
				keyboard: {
					39: 'next',
					37: 'prev'
				}
			}).then(() => {thebe_init();});
		</script>

	</body>
</html>
